section.contacts {
  background-color: $contacts-section-bg-color;
  div.container {
    div.row {
      h1.contacts-title {
        text-align: center;
        color: $contacts-header-color;
      }
    }
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}


