.scalerino {
  transition: transform 0.3s ease-in-out;
}

.scalerino:hover {
  transform: scale(1.02);
}

.cover {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;

  &:after {
    content: '';
    display: inline-block;
    height: 0;
    padding-bottom: 100%;
  }

  &__title {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    letter-spacing: 1px;
    color: #828282;
    white-space:nowrap;
    overflow:hidden;

    &:before {
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }

}

