.cover {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #444444;
  background-origin: padding-box;
  transition: transform 0.3s ease-in-out;

  &:after {
    position: relative;
    content: '';
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.03);

    &:after {
      opacity: 0;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    letter-spacing: 1px;
    color: #828282;
    white-space:nowrap;
    overflow:hidden;

    &:before {
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}

