$logo-font-size: 150%;

$navigation-height: auto;

$button-color: $logo-color;
$button-text-color: $navigation-bg-color;

nav.navbar {
  background-color: $navigation-bg-color;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  button.navbar-toggle {
    border-color: $logo-color;
    span.icon-bar {
      background-color: $logo-color;
    }
  }
  a.navbar-brand {
    color: $logo-color;
    font-size: 40px;
    padding: 5px 15px;
    line-height: 40px;
    vertical-align: middle;

    img {
      margin-right: 20px;
      margin-top: -5px;
      height: 40px;
      display: inline-block;
    }
  }
  a.navbar-brand:hover {
    color: $logo-color;
  }

  ul {
    li.navigation {
      a {
        font-size: 110%;
        color: $logo-color;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $navigation-bg-color;
        span.youtube-nav.facebook-nav {
          margin-left: 15px;
        }
      }
      a:hover {
        background-color: darken($navigation-bg-color, $link-hover-darken);
        color: $logo-color;
      }
    }

    li.blog-active {
      a {
        background-color: $news-section-bg-color;
      }
      a:hover {
        background-color: darken($news-section-bg-color, $link-hover-darken);
      }
    }
    li.about-active {
      a {
        background-color: $history-section-bg-color;
      }
      a:hover {
        background-color: darken($history-section-bg-color, $link-hover-darken);
      }
    }
    li.event-active {
      a {
        background-color: $events-section-bg-color;
      }
      a:hover {
        background-color: darken($events-section-bg-color, $link-hover-darken);
      }
    }
    li.media-active {
      a {
        color: $gallery-header-color;
        background-color: $gallery-section-bg-color;
      }
      a:hover {
        background-color: darken($gallery-section-bg-color, $link-hover-darken);
      }
    }
    li.contact-active {
      a {
        color: $contacts-header-color;
        background-color: $contacts-section-bg-color;
      }
      a:hover {
        background-color: darken($contacts-section-bg-color, $link-hover-darken);
      }
    }
    li {
      ul.dropdown-menu {
        background-color: $navigation-bg-color;
        border: none;
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $navigation-bg-color;
}

div.footer {
  background-color: $navigation-bg-color;
  div {
    ul {
      .navbar-text {
        margin-left: 15px;
        color: $logo-color;
        a {
          color: $logo-color;
        }
        a:hover {
          color: darken($logo-color, $link-hover-darken);
        }
      }
    }
  }
}
