$logo-font-size: 150%;

$navigation-height: auto;

$button-color: $logo-color;
$button-text-color: $navigation-bg-color;

nav.navbar {
  background-color: $navigation-bg-color;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  button.navbar-toggle {
    border-color: $logo-color;
    span.icon-bar {
      background-color: $logo-color;
    }
  }
  a.navbar-brand {
    color: $logo-color;
  }
}


.navbar-wrapper {
  background-color: $navigation-bg-color;
  height: $navigation-height;
  margin-bottom: 0;
  border: 0;
  .container-fluid {
    a {
      .navbar-brand {
        font-size: $logo-font-size;
        color: $logo-color;
        height: $navigation-height;
        line-height: inherit;
      }
    }
    button.navbar-toggle {
      border-color: white;
      span.icon-bar {
        background-color: #fff;
      }
    }
  }
}

div.footer {
  div {
    ul {
      .navbar-text {
        margin-left: 15px;
      }
    }
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: $navigation-bg-color;
}

li.blog_active {
    background-color: $news-section-bg-color;
}
li.about_active {
  background-color: $history-section-bg-color;
}
li.event_active {
  background-color: $events-section-bg-color;
}
li.media_active {
  background-color: $gallery-section-bg-color;
}
li.social_active {

}
li.contact_active {
  background-color: $contacts-section-bg-color;
}
