p, h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}

section {
  padding: $text-padding;
  padding-top: 50px;
  padding-bottom: 50px;
  div.container {
    div.row {
      h1 {
        text-align: center;
      }
      hr {
        width: $underline-width;
      }
      div.col-md-4 {
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        div.cont {
          height: inherit;
          padding: $text-padding;
        }
      }
      button.see-more {
        margin: auto;
        margin-top: 30px;
        display: block;
        padding: 15px 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }
    }
  }
}



#myCarousel {
    width: 100%;
}
.carousel-inner .item {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ad1 {
    background: url(/media/carousel/zib4.jpg) no-repeat center center fixed;
}
.ad2 {
    background: url(/media/carousel/zib5.jpg) no-repeat center center fixed;
}
.ad3 {
    background: url(/media/carousel/zib6.jpg) no-repeat center center fixed;
}



section.news {
  background-color: $news-section-bg-color;
  h1.news-title {
    color: $news-header-color;
  }
  hr.news-title-underline {
    border-top: $underline-height solid $news-header-color;
  }
  div.col-md-4 {
    height: 400px;
    div.cont {
      background-color: $news-article-bg-color;
      h3 {
        color: $news-text-color;
      }
      button {
        float: right;
      }
    }
  }
}

section.events {
  background-color: $events-section-bg-color;
  h1.events-title {
    color: $events-header-color;
  }
  hr.events-title-underline {
    border-top: $underline-height solid $events-header-color;
  }
  div {
    div.cont {
      background-color: white;
      h3 {
        color: $events-text-color;
      }
      .event-map {
      position: relative;
      padding-bottom: 50%;
      height: 0;
      overflow: hidden;
      }
      .event-map iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      p {
        color: $events-text-color;
      }
      h2.no-events {
        text-align: center;
        color: $events-header-color;
      }
    }
  }
}

section.dancers {
  background-color: $dancers-section-bg-color;
  h1.dancers-title {
    color: $dancers-header-color;
  }
  hr.dancers-title-underline {
    border-top: $underline-height solid $dancers-header-color;
  }
  div {
    height: auto;
    div.cont {
      background-color: $dancers-section-bg-color;
      img {
        margin: auto;
      }
      h3.dancer-name {
        text-align: center;
        color: #000000;
      }
    }
  }
}

section.history {
  background-color: $history-section-bg-color;
  h1.history-title {
    color: $history-header-color;
  }
  hr.history-title-underline {
    border-top: $underline-height solid $history-header-color;
  }
  div.col-md-12 {
    div.cont {
      background-color: $history-text-bg-color;
      p {
        color: $history-text-color;
      }
    }
  }
}

section.gallery {
  background-color: $gallery-section-bg-color;
  h1.gallery-title {
    color: $gallery-header-color;
  }
  hr.gallery-title-underline {
    width: $underline-width;
    border-top: $underline-height solid $gallery-header-color;
  }
}
