p, h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

h2.no-events {
  text-align: center;
  color: $events-header-color;
}

#myCarousel {
  width: 100%;
}

.carousel-inner .item {
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  div.container {
    div.row {
      h1 {
        text-align: center;
      }
      div.col-md-4 {
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        div.cont {
          height: inherit;
          padding: $text-padding;
        }
      }
      button.see-more {
        margin: auto;
        margin-top: 30px;
        display: block;
        padding: 15px 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }
    }
  }
}

section.news {
  //background-color: $news-section-bg-color;
  h1.news-title {
    color: $news-header-color;
  }
  div.row {
    height: auto;
    div.col-md-4 {
      div.cont {
        background-color: $news-article-bg-color;
        h2 {
          color: $news-text-color;
        }
      }
    }
  }
}

section.events {
  background-color: $events-section-bg-color;
  h1.events-title {
    color: $events-header-color;
  }
  div {
    div.cont {
      background-color: white;
      h3 {
        color: $events-text-color;
      }
      p {
        color: $events-text-color;
      }
    }
  }
}

section.dancers {
  background-color: $dancers-section-bg-color;
  h1.dancers-title {
    color: $dancers-header-color;
  }
  div {
    height: auto;
    div.cont {
      padding: 15px;
      background-color: $dancers-section-bg-color;
      img {
        margin: auto;
        display: block;
      }
      h3.dancer-name {
        text-align: center;
        color: $dancers-header-color;
      }
    }
  }
}

section.history {
  h1.history-title {
    color: $history-header-color;
  }
  div.col-md-12 {
    div.cont {
      background-color: $history-text-bg-color;
      p {
        color: $history-text-color;
      }
    }
  }
}

section.gallery {
  background: #f5f4f4;
  padding-bottom: 20px;
  .container {
    h1.gallery-title {
      color: $body-bg-color;
      border: none;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
