/**
* Global. To edit CSS, make sure to edit in the SCSS files and NOT style.css
*/

$global-font: 'Signika', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$body-bg-color: #2f4263;
$body-text-color: #222;

$text-padding: 15px;

$link-hover-darken: 10%;

$underline-height: 3px;
$underline-width: 75%;

$logo-color: #ffef38;
$navigation-bg-color: #2f4263;

$news-section-bg-color: #275d79;
$news-article-bg-color: #fff;
$news-header-color: black;
$news-text-color: #666;

$events-section-bg-color: #2f4263;
$events-header-color: #fff;
$events-text-color: black;

$dancers-section-bg-color: #2f4263;
$dancers-header-color: #fff;
$dancers-text-color: #fff;

$history-section-bg-color: #2f4263;
$history-header-color: black;
$history-text-color: #000;
$history-text-bg-color: #fff;

$contacts-section-bg-color: #2f4263;
$contacts-header-color: white;

$gallery-section-bg-color: #2f4263;
$gallery-header-color: #fff;