/**
* Global
*/

$global-font: 'Josefin+Sans', sans-serif;
$body-bg-color: #edeff0;
$body-text-color: #222;

$text-padding: 15px;

$link-hover-darken: 10%;

$underline-height: 3px;
$underline-width: 80%;

$logo-color: white;
$navigation-bg-color: #5ec6be;

$news-section-bg-color: #6baf4f;
$news-article-bg-color: #fff;
$news-header-color: #fff;
$news-text-color: #666;

$events-section-bg-color: #ff6f6b;
$events-header-color: #fff;
$events-text-color: black;

$dancers-section-bg-color: #63e9ff;
$dancers-header-color: #fff55d;
$dancers-text-color: #fff55d;

$history-section-bg-color: #fff55d;
$history-header-color: #fff;
$history-text-color: #000;
$history-text-bg-color: #fff;

$gallery-section-bg-color: #1ec2ff;
$gallery-header-color: #fff;

$contacts-section-bg-color: white;
$contacts-header-color: #1ec2ff;
