/**
* Global
*/
body {
  background-color: #edeff0;
  color: #222; }

h1 {
  font-size: 350%; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

section p {
  font-size: 150%; }

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin+Sans", sans-serif; }

.well {
  opacity: 0.95; }

.event-map {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden; }

.event-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

nav.navbar {
  /* background-color: #5ec6be; */
  background-color: #002468;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  nav.navbar button.navbar-toggle {
    border-color: white; }
    nav.navbar button.navbar-toggle span.icon-bar {
      background-color: white; }
  nav.navbar a.navbar-brand {
    color: white;
    padding-top: 5px; }
  nav.navbar ul li.navigation a {
    font-size: 110%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #002468; }
    nav.navbar ul li.navigation a span.youtube-nav.facebook-nav {
      margin-left: 15px; }
  nav.navbar ul li.navigation a:hover {
    /* background-color: #3fb2a9; } */
      background-color: #002468;
      color: #ffff00; }  
  nav.navbar ul li.blog-active a {
    background-color: #105B63; }
  nav.navbar ul li.blog-active a:hover {
    background-color: #093337; }
  nav.navbar ul li.about-active a {
    background-color: #fec334; }
  nav.navbar ul li.about-active a:hover {
    background-color: #feb401; }
  nav.navbar ul li.event-active a {
    background-color: #fec334; }
  nav.navbar ul li.event-active a:hover {
    background-color: #feb401; }
  nav.navbar ul li.media-active a {
    color: #fff;
    background-color: #ff626b; }
  nav.navbar ul li.media-active a:hover {
    background-color: #ff2f3b; }
  nav.navbar ul li.contact-active a {
    color: #1ec2ff;
    background-color: white; }
  nav.navbar ul li.contact-active a:hover {
    background-color: #e6e6e6; }
  nav.navbar ul li ul.dropdown-menu {
    background-color: #002468;
    border: none; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #002468; }

div.footer {
  background-color: #002468; }
  div.footer div ul .navbar-text {
    margin-left: 15px;
    color: white; }
    div.footer div ul .navbar-text a {
      color: white; }
    div.footer div ul .navbar-text a:hover {
      color: #e6e6e6; }

p, h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden; }

h2.no-events {
  text-align: center;
  color: #fff; }

#myCarousel {
  width: 100%; }

.carousel-inner .item {
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

section {
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 50px; }
  section div.container div.row h1 {
    text-align: center; }
  section div.container div.row hr {
    width: 80%; }
  section div.container div.row div.col-md-4 {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px; }
    section div.container div.row div.col-md-4 div.cont {
      height: inherit;
      padding: 15px; }
  section div.container div.row button.see-more {
    margin: auto;
    margin-top: 30px;
    display: block;
    padding: 15px 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; }

section.news {
  background-color: #105B63; }
  section.news h1.news-title {
    color: #fff; }
  section.news hr.news-title-underline {
    border-top: 3px solid #fff; }
  section.news div.row {
    height: auto; }
    section.news div.row div.col-md-4 div.cont {
      background-color: #fff; }
      section.news div.row div.col-md-4 div.cont h2 {
        color: #666; }

section.events {
  background-color: #fec334; }
  section.events h1.events-title {
    color: #fff; }
  section.events hr.events-title-underline {
    border-top: 3px solid #fff; }
  section.events div div.cont {
    background-color: white; }
    section.events div div.cont h3 {
      color: black; }
    section.events div div.cont p {
      color: black; }

section.dancers {
  background-color: #4ca1af; }
  section.dancers h1.dancers-title {
    color: #fff; }
  section.dancers hr.dancers-title-underline {
    border-top: 3px solid #fff; }
  section.dancers div {
    height: auto; }
    section.dancers div div.cont {
      padding: 15px;
      background-color: #4ca1af; }
      section.dancers div div.cont img {
        margin: auto;
        display: block; }
      section.dancers div div.cont h3.dancer-name {
        text-align: center;
        color: #fff; }

section.history {
  background-color: #fec334; }
  section.history h1.history-title {
    color: #fff; }
  section.history hr.history-title-underline {
    border-top: 3px solid #fff; }
  section.history div.col-md-12 div.cont {
    background-color: #fff; }
    section.history div.col-md-12 div.cont p {
      color: #000; }

section.gallery {
  background-color: #ff626b; }
  section.gallery h1.gallery-title {
    color: #fff;
    border: none; }
  section.gallery hr.gallery-title-underline {
    width: 80%;
    border-top: 3px solid #fff; }

.pagination {
  margin: auto;
  display: block;
  padding: 15px 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 200px; }
  .pagination span.step-links {
    margin: auto; }
  .pagination p {
    text-align: center;
    margin: 0; }

section {
  background-color: #4ca1af; }
  section div.container div.row h1.dancers-title {
    text-align: center;
    color: #fff; }
  section div.container div.row hr.dancers-title-underline {
    border-top: 3px solid #fff;
    width: 80%; }

section.contacts {
  background-color: white; }
  section.contacts div.container div.row h1.contacts-title {
    text-align: center;
    color: #1ec2ff; }
  section.contacts div.container div.row hr.contacts-title-underline {
    border-top: 3px solid #1ec2ff;
    width: 80%; }

.vertical-align {
  display: flex;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
