{% extends 'base.html' %}
{% load django_markdown %}

{% block title %} TDK Zibenitis {% endblock %}
{% block pagetitle %} About us {% endblock %}
{% block pagesubtitle %} Who we are, who we are governed by {% endblock %}

{% block pagecontents %}
    <section class="history">
        <div class="container">
            <div class="row">
                <h1 class="history-title">Vēsture</h1>
                <hr class="history-title-underline"/>
                <div class="col-sm-12">
                    <div class="well cont">
                        {% for hist in history %}
                            <p>{{hist.content|markdown}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dancers">
        <div class="container">
            <div class="row">
                <h1 class="dancers-title">Dejotāji</h1>
                <hr class="dancers-title-underline"/>
                {% for person in persons %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="cont">
                            <img class="img-thumbnail img-circle img-responsive" src="../media/{{ person.picture }}" alt="{{person.first_name}} {{person.last_name}}" title="{{person.first_name}} {{person.last_name}}"/>
                            <h3 class="dancer-name"> {{person.first_name}} {{person.last_name}} </h3>
                        </div>

                        <!--<div class="modal fade" id="basicModal{{person.id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                            <div class="modalfs">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">{{person.first_name}} {{person.last_name}}</h4>
                                    </div>
                                    <div class="modal-body">
                                       <p align="center"><img style="max-width:200px;max-height:200px;" src="../media/{{person.picture}}" class="img-circle"></p>
                                       <br>
                                       <p> Description of the person </p>
                                       <p> Description of the person </p>
                                       <p> Description of the person </p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" type="button" class="personbtn" data-toggle="modal" data-target="#basicModal{{person.id}}" title="{{person.first_name}} {{person.last_name}}">
                            <p><img src="../media/{{person.picture}}" class="img-circle img-responsive"></p>
                            <h4> {{person.first_name}} {{person.last_name}} </h4>
                        </a>-->

                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

