{% extends 'base.html' %}
{% load markdownx %}

{% block title %} TDK Zibenitis {% endblock %}
{% block pagetitle %} About us {% endblock %}
{% block pagesubtitle %} Who we are, who we are governed by {% endblock %}

{% block pagecontents %}
    <section class="history">
        <div class="container">
            <div class="row">
                <h1 class="history-title">Vēsture</h1>
                <div class="col-sm-12">
                    <div class="well cont">
                        {% for hist in history %}
                            <p>{{ hist.content|markdown|safe }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dancers">
        <div class="container">
            <div class="row">
                <h1 class="dancers-title">Dejotāji</h1>
                {% for person in persons %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="cont">
                            <img class="img-thumbnail img-circle img-responsive" src="../media/{{ person.picture }}"
                                 alt="{{ person.first_name }} {{ person.last_name }}"
                                 title="{{ person.first_name }} {{ person.last_name }}"/>
                            <h3 class="dancer-name"> {{ person.first_name }} {{ person.last_name }} </h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <h1 class="dancers-title">Bijušie dejotāji</h1>
                {% for person in non_active_persons %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="cont">
                            <img class="img-thumbnail img-circle img-responsive" src="../media/{{ person.picture }}"
                                 alt="{{ person.first_name }} {{ person.last_name }}"
                                 title="{{ person.first_name }} {{ person.last_name }}"/>
                            <h3 class="dancer-name"> {{ person.first_name }} {{ person.last_name }} </h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>

    </section>
{% endblock %}

