 {% extends 'base.html' %}
     
     
    {% block title %} Zibenitis {% endblock %}
     
    {% block content %}
        <h1> Dancer list </h1>
        {% for person in persons %}
        <div class="person">
            <h2>
                <a href="/dancers/{{person.last_name}}/">
                    {{person.first_name}} {{person.last_name}}
                </a>
            </h2>
        </div>
        {% endfor %}
        <h1> Upload form </h1>
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.pic.label_tag }}</p>
            <p>
                {{ form.pic.errors }}
                {{ form.pic }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
        <h1> Debugging text output </h1>
        <p> {{data}} </p>
    {% endblock %}

