{% extends 'base.html' %}

{% block title %} TDK Zibenitis {% endblock %}
{% block pagetitle %} Aubout us {% endblock %}
{% block pagesubtitle %} Who we are, who we are governed by {% endblock %}     
          
{% block pagecontents %}
    <div class="col-sm-9">
        <h1> Dancer list </h1>
        <br>
        <div>
        <ul>
            {% for person in persons %}
            <dnen>
                <p><img style="max-width:100px;max-height:100px;" src="../media/{{person.picture}}" class="img-rounded"></p>
                <h4> {{person.first_name}} {{person.last_name}} </h4>
            </dnen>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-sm-3 side-bar">
        <div class="sidebar-post ">
            <div class="sidebar-events">
            </div>
        </div>
    </div>
{% endblock %}

