{% extends 'base.html' %}
{% load django_markdown %}

{% block title %} TDK Zibenitis {% endblock %}
{% block pagetitle %} TDK Zibenitis {% endblock %}
{% block pagesubtitle %} Lorem ipsum dolor sit amet {% endblock %}

{% block pagecontents %}
    <div class="col-sm-8 blog-post-container">

        <!-- Blog entries -->
        {% for post in posts %}
        <div class="blog-post">
            <h2>
                <a href="/blog/{{post.id}}/">
                    {{post.title}}
                </a>
            </h2>
            <p class="blogEntryHeader">{{post.content|markdown|truncatewords_html:50}}</p>
            <p>
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </p>
        </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1 side-bar">
        <div class="sidebar-post ">
            <div class="sidebar-events">
                {% for event in events %}
                    <a href="/events/{{ event.id }}"><h2 class="event-title">{{ event.title }}</h2></a>
                    <p class="event-description">{{ event.description|truncatewords:10 }}</p>
                    <p class    ="event-date-location">{{ event.date }} @ {{ event.location }}</p>
                {% endfor %}
           </div>
        </div>
    </div>

{% endblock %}

