{% extends 'base.html' %}
{% load django_markdown %}

{% block title %} TDK Zibenitis {% endblock %}

{% block pagecontents %}
    <section class="news">
        <div class="container">
            <div class="row">
                <h1 class="news-title">Aktualitātes</h1>
                <hr class="news-title-underline"/>
                <div class="col-sm-12 blog-post-container">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-calendar"></span>
                            Blog
                        </div>
                        <ul class="list-group">
                            <!-- Blog entries -->
                            {% for post in posts %}
                                <li class="list-group-item">
                                    <div class="blog-post">
                                        <h2>
                                            <a href="/blog/{{post.id}}/">
                                                {{post.title}}
                                            </a>
                                        </h2>
                                        <p class="blogEntryHeader">{{post.content|markdown|truncatewords_html:50}}</p>
                                        <p>
                                            Posted on
                                            <time datetime="{{post.created|date:"c"}}">
                                            {{post.created|date}}
                                            </time>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if posts.has_previous %}
                                            <a href="?page={{ posts.previous_page_number }}">previous</a>
                                        {% endif %}

                                        <span class="current">
                                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                                        </span>

                                        {% if posts.has_next %}
                                            <a href="?page={{ posts.next_page_number }}">next</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}