{% extends 'base.html' %}
{% load django_markdown %}
 
{% block title %}{{post.title}}{% endblock %}
{% block pagetitle %} Zibenitis blog {% endblock %}
{% block pagesubtitle %} Lorem ipsum dolor sit amet {% endblock %}}

{% block pagecontents %}
<article>
    <header>
        <h1> {{post.title}} </h1>
        <p>
            Posted on
            <time datetime="{{post.created|date:"c"}}">
            {{post.created|date}}
            </time>
        </p>
    </header>
    <p class="description">
        {{post.description}}
    </p>
    {{post.content|markdown}}
    <a href="javascript:history.go(-1)">Atpakal</a>
</article>
{% endblock %}
