{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}{{ post.title }}{% endblock %}
{% block pagetitle %} Zibenitis blog {% endblock %}
{% block pagesubtitle %} Lorem ipsum dolor sit amet {% endblock %}}

{% block pagecontents %}
    <section class="news">
        <div class="container">
            <div class="row">
                <h1 class="news-title"> {{ post.title }} </h1>
                <hr class="news-title-underline"/>
                <div class="col-md-12">
                    <article class="well">
                        <header>
                            <p>
                                Publicēts
                                <time datetime="{{ post.created|date:"c" }}">
                                    {{ post.created|date }}
                                </time>
                            </p>
                        </header>

                        {% if post.check_if_picture %}
                            <img class="img-responsive" src="../../media/{{post.image}}" alt=""/>
                        {% endif %}

                        <p class="description">
                            {{ post.description }}
                        </p>
                        {{ post.content|markdown }}
                    </article>

                    <a href="{% url 'blog' %}">
                        <button class="btn btn-default see-more"><span class="glyphicon glyphicon-chevron-left">Atpakaļ</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
