
.persongrid {
    display:inline-block;
    width:150px;
    height:150px;
    box-shadow:0 0 5px 0 #ccc;
    margin-bottom:5px;
    text-align:center;
    vertical-align: top;
    line-height:110px;
    color:#212121;
    text-shadow:0 1px 2px #999;
}

/* Setting some indents for history text*/
.dancersHistory {
  text-indent: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Setting the size of modal */
.modalfs {
  width: 95%;
  height: 90%;
  margin: 2.5% 2.5% 2.5% 2.5%;
  overflow-y: scroll;  
}

/* Styling the "buttons" of each individual person */
.personbtn {
  display: inline-block;
  width:150px;
  height:150px;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  vertical-align: top;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height:110px;
  border-radius: 4px;
  background-color: rgba(1, 1, 1, 0.0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
.personbtn:focus,
.personbtn:active:focus,
.personbtn.active:focus,
.personbtn.focus,
.personbtn:active.focus,
.personbtn.active.focus {
  outline: thin dotted;
  outline-color: rgba(1, 1, 1, 0.0);
}

.personbtn:link,
.personbtn:visited,
.personbtn:hover,
.personbtn:active {
    color: rgba(1, 1, 1, 1.0);
    text-decoration: none;
}

