/* http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */

* {
    margin: 0;
}
html, body {
    height: 100%;
    background-image: url("/media/swirl_pattern.png");
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
    margin-bottom: 0px;
}

html {
    overflow-y: scroll;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand > span {
    font-size: 24px;
}
.carousel {
    margin-top: -30px;
    margin-bottom: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

div.navbar-bottom-no-margin {
    margin-bottom: 0px;
    border-radius: 0;
    width: 100%;
}

li.facebook-icon > a {
    padding-left: 0px;
}
li.youtube-icon > a {
    padding-left: 0px;
}

a:hover {
    color: hotpink;
}