/* http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
html {
    overflow-y: scroll;
}

div.navbar-bottom-no-margin {
    margin-bottom: 0px;
    border-radius: 0;
    width: 100%;
}

/*
div.jumbotron {
    background-image: url("/media/zib.jpg");
    background-size: cover;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
*/

* {
    margin: 0;
}
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
    margin-bottom: 0px;
}
