/* http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 50px; /* '.push' must be the same height as 'footer' */
}

p, h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}

html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.navbar-brand > span {
    font-size: 24px;
}
.carousel {
    margin-top: -30px;
    margin-bottom: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

li.facebook-icon > a {
    padding-left: 0px;
}
li.youtube-icon > a {
    padding-left: 0px;
}

.event-map {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}

.event-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-copyright {
    margin-left: 15px;
}