<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- IE compability, duh -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dancers/dancers.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{MEDIA_URL}}logo_icon.ico" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <title>{% block title %}{% endblock %}</title>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-67247419-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <div class="wrapper">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="/media/logo_small_horizontal5.svg" height="40px" alt=""/></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navigation {% if blog_active %}blog-active{% endif %}">
                                <a href="{% url 'blog.views.blog' %}">Aktualitātes <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="navigation {% if about_active %}about-active{% endif %}">
                                <a href="{% url 'dancers.views.index' %}">Par mums</a>
                            </li>
                            <li class="navigation {% if event_active %}event-active{% endif %}">
                                <a href="{% url 'events' %}">Pasākumi</a>
                            </li>
                            <li class="dropdown navigation navigation-gallery {% if media_active %}class='media-active'{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Galerija <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/photos">Bildes</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UC2RRxVxwTE0mvxx8aFeTvEA">Video</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navigation {% if contact_active %}contact-active{% endif %}">
                                <a href="{% url 'zibenitis.views.contact_persons' %}">Kontakti</a>
                            </li>
                            <li class="navigation">
                                <a href="http://www.facebook.com/zibenitis"><img src="/media/facebook.png" height="18px" alt=""/><span class="facebook-nav hidden-sm hidden-md hidden-lg"> Facebook</span></a>
                            </li>
                            <li class="navigation">
                                <a href="https://www.youtube.com/channel/UC2RRxVxwTE0mvxx8aFeTvEA"><img src="/media/youtube.png" height="18px"
                                                                                                        alt=""/><span class="youtube-nav hidden-sm hidden-md hidden-lg"> Youtube</span></a>
                            </li>

                        </ul>


                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        <!--
            <div class="navbar-wrapper navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <a href="{% url 'home' %}">
                        <div class="navbar-brand">
                            <img src="/media/laimes.png" alt="logo" height="100%" width="auto" style="float: left; margin-right: 5px"/>
                            <span>Zibenitis</span>
                        </div>
                    </a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse navHeaderCollapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'blog.views.blog' %}">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-home"></span> Blog
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'dancers.views.index' %}">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span> About us
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'events.views.event_brief' %}">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-calendar"></span> Events
                                    </button>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-film"></span> Media
                                        <b class="caret"></b>
                                    </button>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/photos">Pictures</a></li>
                                    <li><a href="#">Videos</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'zibenitis.views.contact_persons' %}">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-envelope"></span> Contacts
                                    </button>
                                </a>
                            </li>
                            <li class="facebook-icon">
                                <a href="http://www.facebook.com/zibenitis">
                                    <button type="button" class="btn btn-default facebook-button">
                                        <img src="/media/facebook.png" height="20px" alt=""/>
                                    </button>
                                </a>
                            </li>
                            <li class="youtube-icon">
                                <a href="https://www.youtube.com/channel/UC2RRxVxwTE0mvxx8aFeTvEA">
                                    <button type="button" class="btn btn-default youtube-button">
                                        <img src="/media/youtube.png" height="20px" alt=""/>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
-->
            {% block carousel %}
            {% endblock %}
            {% block pagecontents %}
            {% endblock %}

            <div class="push"></div>
        </div>
        <div class="nav navbar-default navbar-static-top footer">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text footer-copyright">© Zibenitis 2015</p></li>
                    <li><p class="navbar-text"><a href="/admin/"><span class="glyphicon glyphicon-cog"></span>Admin</a></p></li>
                </ul>
            </div>
        </div>
    </body>
</html>
