{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}TDK Zibenitis{% endblock %}
{% block pagetitle %} Contact {% endblock %}
{% block pagesubtitle %} Lorem ipsum dolor sit amet {% endblock %}}

{% block pagecontents %}
    <section>
        <div class="container">
            <div class="row">
            <h1 class="contacts-title">Kontakti</h1>
            <hr class="contacts-title-underline"/>
            {% for person in administration %}
                <div class="col-md-6 col-xs-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-4 hidden-xs">
                                <img class="img-responsive img-circle" src="../media/{{ person.picture }}" alt=""/>
                            </div>
                            <div class="col-sm-8">
                                <h2 style="text-align: center">{{ person.first_name }} {{ person.last_name }}</h2>
                                <p style="text-align: center">{{ person.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
