{% extends 'base.html' %}
{% load markdownx %}

{% block title %}TDK Zibenitis{% endblock %}

{% block pagecontents %}
    <section class="gallery">
        <div class="container">
            <div class="row">
                <h1 class="gallery-title">Atbalstīt</h1>
                <p>Vari mūs atbalstīt kļūstot par biedru: iemaksā mūsu maciņā 50 sek un atsūti savu vārdu, uzvārdu, dzimšanas gadu, adresi, telefona numuru uz e-pastu tdk.zibenitis at gmail.com</p>
                <p>Vai vienkārši atbalsti mūs ar jebkuru Tev patīkamo summu! Tā mums noderēs jumtam virs galvas, skaistākam izejamajam tērpam vai kādam ļoti svarīgam kolektīva aksesuāram.</p>
                <div class="well">
                    <p><b>Nosaukums:</b> Föreningen Zibenitis</p>
                    <p><b>Reģ. nr.:</b> 068020095686</p>
                    <p><b>Adrese:</b> c/o Ieva Reine, Föreningsvagen 3, 191 33 Sollentuna, Sweden</p>
                    <p><b>Banka:</b> Swedbank, SWEDSESS</p>
                    <p><b>Konts:</b> SE48 8000 0832 7994 4313 5323</p>
                    <p><b>Kasiera tel. nr.:</b> +46727393315</p>
                </div>
                <p><b>"Ziņojumā saņēmējam" norādi - ATBALSTS vai ZIEDOJUMS</b></p>
            </div>
        </div>
    </section>
{% endblock %}