{% extends 'base.html' %}
{% load django_markdown %}

{% block title %} TDK Zibenitis {% endblock %}
{% block pagetitle %} Statistics {% endblock %}
{% block pagesubtitle %}  {% endblock %}

{% block pagecontents %}
    <div class="container">
        <div class="row">
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}

                <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
                {% for field in form %}
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    <br>
                {% endfor %}

                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>

{% endblock %}

