{% extends 'base.html' %}

{% block title %} TDK Zibenitis {% endblock %}
{% block pagetitle %} Statistics {% endblock %}
{% block pagesubtitle %}  {% endblock %}

{% block pagecontents %}
    <section class="stats">
        <div class="container">

            <ul class="list-group">
                {% for rehearsal in rehearsals %}
                    <li class="list-group-item clearfix">
                        <a href="{% url 'stats:rehearsal-update' rehearsal.pk %}">
                            Mēģinājums {{ rehearsal.date }}
                        </a>

                        <form action="{% url 'stats:rehearsal-delete' rehearsal.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger pull-right">Delete</button>
                        </form>
                    </li>
                {% endfor %}
                <li class="list-group-item">
                    <a href="{% url 'stats:rehearsal-add' %}">
                        <button type="button" class="btn btn-info center-block">Add new</button>
                    </a>
                </li>
            </ul>

            <ul class="list-group">
                {% for person in stats %}
                    <li class="list-group-item">
                        <img class="img-thumbnail img-circle img-responsive img-stats" src="../media/{{ person.present_persons__picture }}"
                                 alt="{{ person.present_persons__first_name }} {{ person.present_persons__last_name }}"
                                 title="{{ person.present_persons__first_name }} {{ person.present_persons__last_name }}"/>
                        {{ person.present_persons__first_name }} {{ person.present_persons__last_name }} {{ person.present_persons__count }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}

