{% extends "photologue/root.html" %}
{% load i18n %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="gallery-title">{% blocktrans with show_day=day|date:"d F Y" %}Bildes {{ show_day }}{% endblocktrans %}</h1>
        <hr class="gallery-title-underline"/>
    </div>

	{% if object_list %}
		<div class="row col-lg-12">
		    {% for photo in object_list %}
		        <a href="{{ photo.get_absolute_url }}">
		             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
		        </a>
		    {% endfor %}
		</div>
	{% else %}
		<p>{% trans "Nav bildes" %}.</p>
	{% endif %}

    <div><a href="{% url 'photologue:photo-archive-month' day.year day|date:"m"|lower %}" class="btn btn-default">{% trans "Visas mēneša bildes" %}</a></div>

{% endblock %}
