{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}TDK Zibenitis{% endblock %}
{% block pagetitle %}Events{% endblock %}
{% block pagesubtitle %}Upcoming events{% endblock %}}

{% block pagecontents %}
    <div class="col-md-8">
        <div class="well upcoming-events">
            <h1>Upcoming</h1>
            <ul>
                {% for event in events %}
                    <li><a href="/events/{{ event.id }}">{{ event.title }} - {{ event.date|date:"d b Y" }}</a></li>
                {% empty %}
                    <li>No upcoming events.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well passed-events">
            <h1>Passed</h1>
            <ul>
                {% for event in passed_events %}
                    <li><a href="/events/{{ event.id }}">{{ event.title }} - {{ event.date|date:"d b Y" }}</a></li>
                {% empty %}
                    <li>No passed events.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
