{% extends 'base.html' %}
{% load markdownx %}

{% block title %}TDK Zibenitis{% endblock %}
{% block pagetitle %}Pasākumi{% endblock %}

{% block pagecontents %}
    <section class="events">
        <div class="container">
            <div class="row">
                <h1 class="events-title">Pasākumi</h1>
                <div class="col-md-8">
                    <div class="well upcoming-events">
                        <h1>Pasākumi drīzumā</h1>
                        <ul>
                            {% for event in events %}
                                <li><a href="/events/{{ event.id }}">{{ event.title }} - {{ event.date|date:"d b Y" }}</a></li>
                            {% empty %}
                                <li>Nav plānoti pasākumi</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well passed-events">
                        <h1>Aizvadītie pasākumi</h1>
                        <ul>
                            {% for event in passed_events %}
                                <li><a href="/events/{{ event.id }}">{{ event.title }} - {{ event.date|date:"d b Y" }}</a></li>
                            {% empty %}
                                <li>Nav aizvadīti pasākumi</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
